<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/gsesek/IdeaProjects/JavaSelenium/src/TestNGPackage">
        <classes>
            <class name="TestNGPackage.Basics">
                <methods>
                    <include name="FirstTest"/>
                    <include name="SecondTest"/>
                </methods>
            </class>
        </classes>
    </test>
<!--    <test name="WebLogin">-->
<!--        <classes>-->
<!--                <class name="test.day3"/>-->
<!--                        <methods>-->
<!--                            <exclude name="WebLogin"/>
                                <include name="LoginAPI"/>
<!--                        </methods>-->
<!--        </classes>-->
<!--    </test>-->
</suite>
